U2018_CLC2018_V2020_20u1.tif
harz_2019_2021_kndvi.nc
bfast_results.nc
pred_stack_2022.tif
pred_stack_2018.tif
prediction_mlc_2018.rds
prediction_mlc_2022.rds
prediction_rf_2018.rds
prediction_rf_2020.rds
prediction_rf_2022.rds
test.tif
harz_2018_2022_kndvi.nc
harz_2018_2022_all.nc
CopyOfharz_2018_2022_all.nc.bak
bfast_results2.nc
